# Visual Studio cache
.vs/
.vscode/

# Build output
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log
*.tlog

# ASP.NET Core specific
appsettings.Development.json
appsettings.*.json
Migrations/

# NuGet
*.nupkg
*.snupkg
packages/
project.assets.json
packages.lock.json

# Azure publish profiles
Properties/PublishProfiles/

# Others
wwwroot/
node_modules/
